 /* work-sanse-font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

  /* shared-style */
  .primary-btn{
    padding:20px 25px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
  
  }
  .primary-btn:hover{
    background-color: antiquewhite;
    color:#424242;
    cursor:pointer;
  }
*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
 /* header-styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 00px;
}

.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
    padding:0px 200px;
 
}
.nav-links{
    display: flex;
    gap:10px;
    list-style: none;
    padding:0px 100px;
   
}
.nav-links>li{
    margin-right:30px;
    
}

.nav-links>li>a{
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size:1rem;
    font-weight: 500;
    line-height: 26px; 
    
}
.banner-content{
    max-width:800px;
    text-align:center;
    margin:70px auto;

}
.banner-title{
    font-size:4rem;
    font-weight: 700;
    color:#131313
}
.banner-description{
    font-size: 1rem;
    font-weight:400rem;
    color:#727272;
    line-height:26px;
    padding:10px;
}
.banner>img{
    width:80%;
    margin-top:5px;
    margin-left:150px;
  
}

/* team-section */

main{
    width:100%;
    margin:70px auto;
}
.teams-container{
    display:flex;
    align-items:center;

}
.team-img-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
    margin-left:100px;

}
.team-img-container>img{
    width:100%;
}
.teams-content{
    margin:0px 70px 0px 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.quick-list{
    color:#727272;
    font-weight: 500;
}
.of-our{
    color:#131313;
    font-weight: 700;
}

.feature{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: var(--dark-03, #727272);
    font-size:1rem;
    font-weight: 400;
    line-height: 1.6rem; 
    padding:10px;
}
/* feature-section */
.featured-section{
    display:flex;
    margin-top:130px;
    gap:100px;
    
}
.feature-image{
    width:708px;
}
.feature-content{
    margin-left:50px;
}

.feature-content .card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top:20px;
    padding:20px;
}

.feature-content .card-title{
    color:#131313;
font-size: 20px;
font-weight: 600;
}
.feature-content .card-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.feature-ttitle{
    color:#131313;
font-size: 45px;
font-weight: 700;
padding:20px;
border-left:3px solid  #FF900E;
}
.feature-description{
  
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.ten-years-badge{
    color: #FFF;
    text-align: center;
    width:258px;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    background-color: #FF900E;
    padding:45px 42px;
    border-radius: 8px;
    position:relative;
    bottom:100px;
    right:80px;
}
.ten-years-badge>p{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 40px;
}

/* fact-section */
.fact-title{
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.fact-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.fact-card-container{
    display:flex;
    justify-content: space-around;
}
.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 241.831px;
    height: 241.831px;
}
.card>img{
    margin:45px 102px 10px 94px;
}
.card-states{
    color: #424242;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
}
.card-title{
    color: #727272;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;

}
.fact-title{
    margin:168px 0px 24px 50px;
    color:#131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-description{
    margin:0px 0px 70px 50px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* sponsor-style */
.sponspor-logo{
    display:flex;
    justify-content: space-around;
}
.sponspor-logo>img{
    padding:20px;
    width:165px;
}
.sponspor-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    text-align:center;
    margin:100px 0px 24px;
}
.sponspor-description{
    color:#727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin:0px 0px 70px 0px;
}

/* footer-section */

.footer-section{
    width: 1140px;
    margin:0 auto;
    height: 75px;
    border-radius: 8px;
    background: #FFF4E7;
    margin-top:100px;
}
.footer-description{
    color:#424242;
text-align: center;
font-size: 20px;
font-weight: 400;
padding:30px 300px;
}



/* mobile-view */
@media screen and (max-width:576px) {
    .banner>img{
        width: 100%;
        margin-left:0px;
      
    }
    header{
        padding:0px;
    }
    .nav-bar{
        flex-direction: column;
    }
    .nav-title{
        padding:20px;
    }
    .nav-links{
        padding:20px;
    }
    .teams-container{
          flex-direction: column-reverse;
          
    }
    .team-img-container{
        grid-template-columns: 1fr;
        margin-top: 30px;
        margin-right:80px
    }
    .teams-content{
        margin:0px 20px 0px 20px;
    }

    .fact-card-container{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .sponspor-logo{
        flex-direction: column;
        width:165px;
        margin: 0 auto;
        gap:20px;

    }

    .footer-section{
        width:100vw;
       
    }
    .footer-description{
        color:#424242;
        margin:0px;
        padding:0px;


    
}
.featured-section{
    flex-direction: column;
}

}

/* tablet-view */
@media screen and (min-width:576px) and (max-width:960px) {
    .nav-bar{
        flex-direction: column;
    }
    .nav-title{
        padding:50px;
    }
    .nav-links{
        padding:50px;
    }

    .banner>img{
        width: 100%;
        margin-left:0px;
        
      }
      .teams-container{
        flex-direction: column;
  }
  .team-img-container{
      grid-template-columns: 1fr;
      margin-bottom: 30px;
  }  
  .fact-card-container{
     display:grid;
     grid-template-columns: repeat(2,1fr);
     gap:10px;
  }
  .fact-title{
    text-align:center;
  }
  .sponspor-logo{
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }

  .sponspor-logo{
    flex-direction: column;
    width:165px;
    margin: 0 auto;
    gap:20px;
  }
  .footer-section{
    width:100vw;
   
}
.footer-description{
    color:#424242;
    margin:0px;
    padding:0px;
}
.featured-section{
    flex-direction: column;
}

}